.videoFooter{
    position: relative;
    margin-left: 20px;
    bottom: 100px;
}

.innerVFooter{
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    margin-bottom: 20px;
}

.innerVFooter>h3{
    margin-left: 10px;
    padding-bottom: 20px;
}

.innerVFooter>h3>button{
    color: white;
    font-weight: 900;
    text-transform: inherit;
}

.vF_Ticker>.ticker{
    height: fit-content;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 60%;
}

.vF_icon{
    position: absolute;
    left: 5px;
    color: white;
}

.vF_Ticker h1{
    padding-top: 7px;
    font-size: 12px;
    color: white;
}

.videoFooter_Actions{
    display: flex;
    position: absolute;
    width: 95%;
    color: white;
    justify-content: space-between;
}

.vF_ActionsLeft>.MuiSvgIcon-root{
    padding: 0 10px;
}

.vF_ActionsRight{
    display: flex;
}

.vFActionsStats{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.vFActionsStats>p{
    margin-left: 3px;
}